
<!DOCTYPE html>
<html>
<head>
    <title>Create Blog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="form-container">
            <h2>Create Blog</h2>
            <form method="post" action="{% url 'create_blog' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
	        <a href="{% url 'blog_list' %}" class="btn btn-primary">Back to Blogs Home Page</a>
        </div>
    </div>
</body>
</html>
