{% extends "base.html" %}

{% block content  %}
	<h1 class="title">Today's New Blogs</h1>
	<div>
		<a href="{% url 'create_blog' %}" class="btn btn-primary mb-3">Create Blog</a>
		{% for blog in blogs %}
			<div class="mb-4">
				<div class="card bg-body rounded-4 shadow">
					<div class="card-body">
						<h5 class="card-title">{{ blog.name }}</h5>
						<p class="card-text">{{ blog.short_description }}</p>
						<a href="{% url 'edit_blog' blog.pk %}" class="mr-2">Edit</a>
						<a href="{% url 'delete_blog' blog.pk %}">Delete</a> <br>
						<small class="card-text">Created at: {{ blog.created_at }}</small> <br>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock  %}